* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  position: relative;
  min-width: fit-content; /* This line is key, this magic line made the width fit when it was glitching out */
  background-color: #f2f4f7;
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
  background-color: #f2f4f7;
}