#GettingStarted {
	background-color: $greyBG;
	text-align: center;
	padding: 80px;

	h2 {
		padding: 15px;
	}

	p {
		color: $paragraphColor;
		padding: 10px 20px;
	}

	img {
		margin-top: 55px;
		height: 200px;
		width: 400px;
	}
	.btn {
		background-color: #ffffff;
		font-family: $displayFont;
		border: 1px solid $black;
		padding: 10px 25px;
		text-align: center;
		font-size: 1rem;
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		transition: all 0.5s ease-in-out;
		&:hover {
			background: yellow;
			color: $black;
		}
	}
}
@media only screen and (max-width: 500px) {
	#GettingStarted {
		padding: 5px;
		img {
			height: 150px;
			width: 240px;
			margin: 0;
		}
	}
}
