#home-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin: 0 auto;
    max-width: 100vw;
    Font-Family: 'Cabin', Sans-Serif;
	Font-Size: 16px;
}

#header {
	position: absolute;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/bg/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
	user-select: none;
	top: 0;
}

#header::after {
    background-color: rgba(0, 0, 0, 0.4);
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

#header * {
	color: #ffffff;
	z-index: 1;
}

.info {
	padding: 10px;
	text-align: center;
}


/* Button CSS */

.btns {
	margin-top: 10px;
}

.btn {
    background: #ffffff;
    color: black!important;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid black;
    margin: 10px 5px;
    font-size: 14px;
}

.btn:hover {
    background-color: black;
    color: #ffffff!important;
}