* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    margin: 0 auto;
    
}

.nav {
    background: rgb(170,70,185);
background: linear-gradient(90deg, rgba(170,70,185,1) 0%, rgba(138,28,163,1) 49%, rgba(92,12,203,1) 100%);
    max-width: 100%;
}

.nav > h2 {
    text-align: left;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    padding: 18px;
    padding-top: 15px;
    vertical-align: middle;
    letter-spacing: 0.1em;
}