* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: black;
    padding: 12px;
    color: #ffffff;
    font-size: 42px;
    letter-spacing: 0.1em;
}